@model Laboratorio.Alexsandro.Models.Cidade
@{

}


<h2>Novo</h2>
<div class="container">
    <div class="row">

        @using (Html.BeginForm())
        {
            <div class="form-horizontal">
                <div class="form-group ">
                    <div class="form-group">
                        @Html.LabelFor(x => x.Estado, new { @class = "control-label" })
                        @Html.EnumDropDownListFor(x => x.Estado, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Nome, new { @class = "control-label" })
                        @Html.TextBoxFor(x => x.Nome, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-success" value="Salvar" />
                    </div>
                </div>
            </div>

        }
    </div>
</div>
@*<div class="container">
        <div class="row">
            <form class="form-group" method="post">
                <div class="col-md-12">
                    <div class="col-md-5">
                        <label>Estado</label>
                        <select class="form-control" id="estado" name="eestado"></select>
                    </div>
                    <div class="col-md-5">
                        <label>Cidade</label>
                        <input type="text" class="form-control" name="nome" id="cidade"/>
                    </div>
                    <div class="col-md-5">
                        <input type="submit" class="btn btn-success" value="Salvar"/>
                    </div>
                </div>
            </form>
        </div>
    </div>*@

